[mysqld]
max_allowed_packet=64M
sql_mode=NO_AUTO_CREATE_USER
character_set_server=utf8
collation_server=utf8_unicode_ci
default_storage_engine=InnoDB
open_files_limit=10000
key_buffer_size=1G
join_buffer_size=4M
query_cache_limit=2M
query_cache_size=2M
tmp_table_size=256M
interactive_timeout=300
wait_timeout=300
